
{%  set nbr = 0 %}
<div class="row mt-2">
 {% for article in articles %}   

    {% if nbr < 6 %}
        
                <div class="col col-2">
                    <div class="card mt-3 shadow" >
                       
                           
                        <div class="card-body"> 
                            <h6 class="card-title mb-0">{{ article.titre }} </h6>
                            
                        </div>
                            <img src="/images/uploads/{{ article.path }}" class="cover-image-bottom card-img-bottom" alt="{{ article.image }}">
                           
                       
                    </div>
                </div>
    {% endif %} 
   
    {%  set nbr = nbr + 1 %}
{% endfor %} 

</div>


