{% extends 'base.html.twig' %}

{% block title %}Bienvenu{% endblock %}



{% block content %}

    {% block slider %}

    {% endblock  %}


    <h2> Aujourd'hui est un nouveau jour </h2>
    <ul>
        <li>Home
        <p> aaaaaaaaaaaaaa
            aaaaaaaaaaaaaabbbbbbbbb
            cccccccccccc
        </p>
    </li>
        <li>recherche par ISBN
        <p> aaaaaaaaaaaaaa
            aaaaaaaaaaaaaabbbbbbbbb
            cccccccccccc</p>
        </li>
      
        <li>Recherche par mots clés
        <p> aaaaaaaaaaaaaa
            aaaaaaaaaaaaaabbbbbbbbb
            cccccccccccc</p></li>

    </ul>

{% endblock %}
