{% set nbr = 0 %}
{% for auteur in auteurs %}

	<div>
		{% if nbr < 3 %}

			<div class="card shadow mb-5 hidden-sm hidden-md hidden-xs lg-4">
				<h3 class="text-center p-2  text-uppercase">Auteur A La Une</h3>

				{# <div class="col-md-2"> #}
				{# {% set image = '/images/uploads/' ~ auteur.path %} #}
				<img src="/images/uploads/{{auteur.path}}" class="cover-image card-img-top" alt="{{ auteur.image }}">
				<div class="card-body">
					<h5 class="card-title">{{ auteur.nom ~ auteur.prenom }}</h5>
					<p class="card-text">{{ auteur.description }}</p>
				</div>

				{# <div class="price-discount">
					<span>promo</span>
				</div> #}

			</div>


			{% set nbr = nbr + 1  %}
		{% endif %}
	</div>


{% endfor %}
