<link rel="stylesheet" href="css/home_index.css">
<body>
  <nav class="nav">
    <div class="nav__item nav__item_home">
      <div class="nav__tab_wrapper">
        <svg xmlns='http://www.w3.org/2000/svg' id='nav-tab' height='100%' width='100%' viewBox='0 0 200 200' preserveAspectRatio='none'><path id='tab' d='M0,200 C100,150 100,150 200,200'></path></svg>
      </div>
      <span>Home</span>
      <div class="nav__dropdown">
        <div class="nav__dropdown_header">
          <h2>Home</h2>
        </div>
        <div class="nav__dropdown_content">
          <h5>Lorem ipsum home...</h5>
        </div>
      </div>
    </div>
    <div class="nav__item nav__item_projects">
      <div class="nav__tab_wrapper">
        <svg xmlns='http://www.w3.org/2000/svg' id='nav-tab' height='100%' width='100%' viewBox='0 0 200 200' preserveAspectRatio='none'><path id='tab' d='M0,200 C100,150 100,150 200,200'></path></svg>
      </div>
      <span>Projects</span>
      <div class="nav__dropdown">
        <div class="nav__dropdown_header">
          <h2>Projects</h2>
        </div>
        <div class="nav__dropdown_content">
          <h5>Lorem ipsum projects...</h5>
        </div>
      </div>
    </div>
    <div class="nav__item nav__item_about">
      <div class="nav__tab_wrapper">
        <svg xmlns='http://www.w3.org/2000/svg' id='nav-tab' height='100%' width='100%' viewBox='0 0 200 200' preserveAspectRatio='none'><path id='tab' d='M0,200 C100,150 100,150 200,200'></path></svg>
      </div>
      <span>About</span>
      <div class="nav__dropdown">
        <div class="nav__dropdown_header">
          <h2>About</h2>
        </div>
        <div class="nav__dropdown_content">
          <h5>Lorem ipsum about...</h5>
        </div>
      </div>
    </div>
    <div class="nav__item nav__item_contact">
      <div class="nav__tab_wrapper">
        <svg xmlns='http://www.w3.org/2000/svg' id='nav-tab' height='100%' width='100%' viewBox='0 0 200 200' preserveAspectRatio='none'><path id='tab' d='M0,200 C100,150 100,150 200,200'></path></svg>
      </div>
      <span>Contact</span>
      <div class="nav__dropdown">
        <div class="nav__dropdown_header">
          <h2>Contact</h2>
        </div>
        <div class="nav__dropdown_content">
          <h5>Lorem ipsum contact...</h5>
        </div>
      </div>
    </div> 
    <div class="nav__overlay"></div>
  </nav>
  <div class="page">
    <p id="arrow_up"></p>
    <p>Hover</p>
    <p>tab</p>
  </div>
</body>