{% extends 'base.html.twig' %}

{% block body %}

<h1>A propos / Qui sommes-nous</h1>
<br> </br>

<h6>Ici, une librairie indépendante, vraiment indépendante.</h6>

<p>Après 30 ans passés dans le monde de l’édition et du commerce du livre, Bernard Attal a décidé de créer une librairie indépendante, axée sur l’humain, libérée de tout algorithme, présente sur internet, et surtout ancrée au cœur de Paris, au coeur du 7eme arrondissement, avec une offre très large dans tous les domaines et par-dessus tout, une capacité de conseils, de découvertes, d’évènements, de plaisir et de convivialité pour tous ceux, de tous âges, qui aiment vivre pleinement l’art et la lecture.</p>
<br> </br>

<h6>Ici, une librairie d’ultra-passionnés.</h6>
<p>
<br>A quoi bon offrir sur 200 m2 et deux étages plus de 10 000 livres en littérature, jeunesse, bande dessinée, sciences humaines, beaux-arts, vie pratique, entreprise, tourisme, parascolaire, VO… si on ne les connaît pas, si on ne les aime pas et si on n’a pas envie de vous les faire découvrir ?</br>
<br>Nos libraires sont des passionnés, leurs coups de cœur sont communicatifs et leur sens de l’écoute n’a d’égal que leur capacité à trouver le livre que vous cherchez ou celui dont la découverte illuminera votre journée ou peut-être même changera votre vie.</br>
</p>
<br></br>

<h6>ici, un état d’esprit qui rend votre expérience unique.</h6>
<p>
<br>Nos livres sont au même prix qu’ailleurs puisque le prix du livre est fixé par l’éditeur dans notre pays depuis la loi Lang de 1981. Vous ne trouverez donc pas d’écart de prix entre une librairie indépendante, internet ou une grande surface.</br>
<br>En revanche la différence ici, c’est de pouvoir flâner dans le lieu, boire un des meilleurs cafés de Paris où déjeuner, feuilleter avec votre enfant son nouveau livre dans un cocon de lecture douillet ou réserver sur internet et passer en coup de vent récupérer votre achat dans les 2 heures, échanger dans l’amphithéâtre avec votre auteur préféré et puis, car vous êtes d’ici, profiter de toutes les petites attentions qui font les bons voisins… les surprises et le plaisir de se retrouver.</br>
</p>

  
{% endblock %}