{% extends 'base.html.twig' %}

{% block body %}

<h1>Nous contacter</h1>
<br></br>

<p>
Vous pouvez nous écrire via le lien ci-contre
<a href="{{ path('message_new') }}">Formulaire de contact</a>
</p>


  
{% endblock %}