{% extends 'base.html.twig' %}

{% block body %}

<h1>Nous contacter</h1>

<p> Vous pouvez nous envoyer un e-mail à l'adresse suivante <span style="color:red">info@biblia.fr</span></p>


  
{% endblock %}