{% extends 'base.html.twig' %}

{% block title %}Cookies{% endblock %}

{% block body %}
    <p>Aaaaaaaaaa
    aaaaaaaaaaaa
    aaaaaaaaaaa </p>

    acepter ou pas 
    fenetre popup

    

  
{% endblock %}