{% extends 'base.html.twig' %}

{% block body %}

<h1>Mentions légales</h1>
<br></br>

<p>Vous êtes actuellement connecté sur le site www.biblia.fr, site propriété de l’entreprise Biblia SARL.</p>
<br></br>

<h6>Biblia SARL</h6>
<p>
<br>SARL déclarée à la RCI de Paris le 12/3/2006</br>
<br>159 rue de Grenelle - 75007 Paris (France). Mail : biblia.librairie@gmail.com</br>
</p>
<br></br>

<h6>Président</h6>
<p>Bernard Attal</p>
<br></br>

<h6>Directeur de la publication</h6>
<p>
<br>Laura Legrand. Mail : laura.legrand@gmail.com</br>
<br>Site réalisé avec le soutien du <strong>CNL</strong> et du <strong>Ministère de la culture</strong></br>
</p>
<br></br>

<h6>Conception et réalisation</h6>
<p>
Webforce3, “projet”.
</p>
<br></br>

<h6>Hébergement</h6>
<p>
(SITE hébergeur SAS au capital de 00 000,00 €. (Adresse ). RCS Paris B ……….
</p>
<br></br>

<h6>Limitation de la responsabilité</h6>
<p>
Biblia et son agence Webforce3 ont préparé le contenu de ce site avec soin et technicité. L'<strong>Entreprise Biblia</strong> s'efforce d'assurer au mieux de ses possibilités l'exactitude et la mise à jour des informations diffusées sur le site et se réserve le droit d'en modifier le contenu à tout moment. De ce fait, les informations et visuels diffusés ont un caractère exclusivement informatif et ne sauraient en aucun cas constituer un document contractuel pouvant fonder une action en justice. <strong>Biblia SARL</strong> ne saurait être tenue pour responsable de tout dommage direct ou indirect - quelle qu'en soient la cause, l'origine, la nature et les conséquences - résultant de l'accès au site, de son utilisation ou de son impossibilité d'y accéder ainsi que tout dommage sur le matériel des utilisateurs.
</p>
<br></br>

<h6>Liens</h6>
<p>
Les liens ne sont en aucun cas sous le contrôle de <strong>Biblia SARL</strong> laquelle ne saurait être tenue pour responsable des sites (contenu et utilisation) ayant un lien hypertexte avec son propre site.
</p>
<br></br>

<h6>Propriété intellectuelle</h6>
<p>
L'ensemble du site, et chacun de ses éléments pris séparément, constituent une œuvre protégée et relèvent de la législation française et internationale sur le droit d'auteur et la propriété intellectuelle. Aucune exploitation commerciale, reproduction, représentation, utilisation, adaptation, modification, incorporation, traduction, commercialisation, partielle ou intégrale des éléments de ce site ne peut se faire sans l'autorisation préalable de <strong>Biblia SARL</strong>. La violation de ce droit de propriété intellectuelle et/ou industrielle est un délit de contrefaçon passible d'une peine de 2 ans d'emprisonnement et d'une amende de 150 000 euros.
</p>
<br></br>

<h6>Protection des données</h6>
<p>
<br>Conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, ce site est en cours de déclaration auprès de la CNIL (Commission Nationale de l'Informatique et des Libertés).</br>
<br>Conformément aux articles 38 et 40 de la loi 2004-801 du 06/08/2004, vous disposez d'un droit d'accès, de rectification, de suppression des données vous concernant. Ce droit peut s'exercer en ligne en adressant un e-mail à l'adresse suivante info@biblia.fr ou par courrier à l'adresse suivante : <strong>Biblia</strong>, 159 rue de Grenelle, 75007 Paris (France)</br>
</p>
<br></br>

<h6>Modifications, interruption et réalisation</h6>
<p>
<strong>Biblia SARL</strong> est en droit, à son entière discrétion, d'ajouter, supprimer ou modifier à tout moment tout ou une partie des services inclus dans le site Web, de l'interrompre momentanément ou de résilier la présente licence. Les mentions légales peuvent également être modifiées ou adaptées à tout moment. Vous êtes invité à les consulter régulièrement et à les respecter sans réserve.
</p>
<br></br>

<h6>Clauses attributives de compétence</h6>
<p>
Ce site étant régi par la loi française, seuls les tribunaux français seront compétents en cas de litige.
</p>
<br></br>
  
{% endblock %}
