{% extends 'base.html.twig' %}

{% block body %}

<h1>Foire aux questions</h1>
<br></br>

<p>N’hésitez pas à consulter ci-dessous les réponses  que nous apportons aux questions les plus fréquemment posées.
Vous y trouverez peut-être la réponse à votre question. Sinon n’hésitez pas à nous contactez.</p>
<br></br>

<h6>1. Qui fournit les livres ?</h6>
<p>
<br>Les éditeurs confient leurs livres aux diffuseurs et aux distributeurs pour la revente aux différents points de vente qui par conséquent sont des revendeurs de livres.</br>
<br>Certains éditeurs se diffusent et se distribuent eux-mêmes.</br>
</p>
<br></br>

<h6>2. Qu’est-ce qu’un diffuseur ?</h6>
<p>
<br>Un diffuseur est chargé de définir, titre par titre, avec l’éditeur, les quantités de livres à mettre en place sur le marché ; de définir le plan promotionnel ; de faire connaître aux points de vente les livres publiés par l’éditeur (ce travail est exécuté par le représentant) ; d’établir l’office et de prendre les commandes ; de remonter l’information des points de vente à l’éditeur.
</br>
</p>
<br></br>

<h6>3. Qu’est-ce qu’un distributeur ?</h6>
<p>
<br>Les distributeurs assurent les flux physiques et financiers (factures aux libraires).
Pour en savoir plus, voir Distribution.</br>
</p>
<br></br>

<h6>4. Qui vend des livres au public ?</h6>
<p>
<br>Principalement les libraires, mais aussi les grandes surfaces spécialisées, la grande distribution et d’autres commerces…</br>
</p>
<br></br>

<h6>5. Qu’est-ce que la remise ?</h6>
<p>
<br>La rémunération des différents points de vente vient de la remise accordée par chaque diffuseur (ou éditeur) sur le prix public des ouvrages. Elle se décompose en remise de base, remise quantitative et remise qualitative. Les barèmes des remises chez un même éditeur varient en fonction de ses collections ou des secteurs éditoriaux.</br>
</p>
<br></br>

<h6>6. Qui fixe la remise ?</h6>
<p>
<br>Les éditeurs ou leur service commercial lorsqu’ils en disposent, ou leur diffuseur, qui établissent la remise, dont le montant décide de la marge du commerçant, le prix public étant fixé par l’éditeur (prix fixe ou prix unique). La décomposition de la remise est exprimée dans les conditions générales de vente. Les conditions générales de vente (article L.441-6 du Code du commerce) doivent être communiquées à tout client qui en fait la demande. Elles constituent le socle de la négociation commerciale. La remise de base doit être spécifiée ainsi que les taux appliqués aux remises qualitatives et quantitatives.</br>
</p>
<br></br>

<h6>7. Comment se calcule la remise ?</h6>
<p>
<br>La loi Lang de 1981 prévoit que la remise qualitative totale doit être supérieure à la remise quantitative totale. Le Protocole sur les usages commerciaux de 2001 définit huit critères qualitatifs applicables à la remise. Quatre critères au moins doivent être choisis.</br>
</p>
<br></br>

<h6>8. Qu’est-ce qu’un office ?</h6>
<p>
<br>Un office est le service d’envoi des nouveautés : il assure l’envoi des nouvelles parutions aux libraires. A l’origine « envoi d’office » de toute la production d’un éditeur à un libraire, il prend aujourd’hui différentes formes plus souples : office d’information unitaire, office sur grille personnalisée, office à façon et office de parution exceptionnelle.</br>
<br>Pour en savoir plus, voir le protocole sur les usages commerciaux de 2008. L’office fait obligatoirement l’objet d’un contrat écrit qui est en principe négocié chaque année. Chez un gros distributeur, quatre offices partent en moyenne par mois regroupant les nouveautés de l’ensemble des éditeurs distribués.</br>
</p>
<br></br>

<h6>9. Qu’est-ce qu’un retour ?</h6>
<p>
<br>Le retour est un ouvrage invendu renvoyé à l’éditeur via le distributeur s’il en a un ou directement. Les livres envoyés dans le service de nouveauté comportent un droit de retour intégral. Les conditions générales de vente définissent précisément la durée de délai de garde des ouvrages par les points de vente. Les ouvrages retournés (retours) donnent droit à un avoir porté au crédit du compte du point de vente.</br>
</p>
<br></br>

<h6>10. Toutes les nouvelles parutions sont-elles assorties d’un droit de retour ?</h6>
<p>
<br>Non : pas celles qui ont fait l’objet de vente en compte ferme, pas celles qui sont détériorées, pas celles qui se font hors délais.</br>
</p>
<br></br>
  
{% endblock %}