{% extends 'base.html.twig' %}

{% block body %}

<h1>Rejoignez-nous</h1>
<br></br>

<p>
<br>Biblia cherche un ​​<strong>Libraire (vendeur Produits éditoriaux):</strong></br>
<br>Rattaché au responsable de département LIVRE, vous êtes un véritable ambassadeur de la relation client. Vous dynamisez par vos ventes les résultats du département.</br>
</p>
<br></br>

<h6>VOTRE MISSION:</h6>
<p>
<br>Vous accueillez, accompagnez et conseillez le client sur les produits et services les mieux adaptés à ses besoins, disponibles en magasin.</br>
<br>Vous vendez les produits en valorisant les services Biblia et vous réalisez toute action ; complémentaire afin de faciliter le parcours du client en magasin (prescription, commandes...),
Vous contribuez à la rentabilité des rayons par le respect du plan de merchandising, la mise en avant des produits, la mise en place des opérations commerciales.</br>
<br>Vous vous assurez régulièrement de la fiabilité des stocks en vérifiant l'adéquation stock physique / stock informatique.</br>
</p>
<br></br>

<h6>VOTRE PROFIL:</h6>
<p>
<br>Vous recherchez une entreprise capable de vous enrichir professionnellement. Vous avez envie de découvrir et/ou d'évoluer dans le secteur de la distribution spécialisée, en rejoignant le leader des produits culturels.</br>
<br>Dynamique, polyvalent et autonome, vous êtes reconnu pour votre sens du service très développé.</br>
<br>Votre goût du travail en équipe et votre autonomie feront la différence.
Nous recherchons une personne passionnée par l'univers du livre avec l'envie de transmettre cette passion à nos clients !</br>
<br>Localisation du poste : Biblia, 7eme arrondissement</br>
<br>Ville : Paris</br>
</p>
<br></br>

<h6>Avantages & Services</h6>
<p>
<br>Notre politique sociale est basée sur la motivation et la fidélisation de nos collaborateurs. Au-delà de nos offres de rémunérations motivantes, nous mettons l'accent sur la reconnaissance, un management de proximité et la mise en place de divers programmes de récompenses, d’avantages et de services, en ligne avec notre culture d’entreprise.</br>
<ul>
    <li>Une évaluation juste de la performance</li>
    <li>Une politique de rémunération motivante</li>
    <li>Une structure de formation pour vous accompagner tout au long de votre parcours</li>
    <li>Des avantages sociaux ( couverture sociale, prise en charge du transport des collaborateurs…)</li>
</ul>
</p>
<br></br>


  
{% endblock %}