{% extends 'base.html.twig' %}

{% block body %}

<h1>Nos réseaux sociaux</h1>
<br></br>
<div class="row">
    <div class="col">
        <script type="text/javascript" src="http://platform.linkedin.com/in.js"></script>
        <script type="in/share" data-counter="top"></script>
    </div>

    <div class="col">
        <a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="InfoWebMaster">Tweet</a>
        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    </div>

    <div class="col">
        
    </div>

</div>

<br></br>


  
{% endblock %}