{% extends 'base.html.twig' %}

{% block title %}Nouveau message{% endblock %}

{% block body %}
    <h1>Ecrire un nouveau message</h1>
    <br></br>

    {{ include('message/form.html.twig') }}

    <a href="{{ path('home') }}">retour à l'accueil</a>
{% endblock %}
