

    <div class="row">
        <div class="col col-6">
        <ul>
                    <li>CGV</li>
                    <li>Gestion des cookies</li>
                    <li>A propos</li>
                </ul>
        </div>
        <div class="col col-6">
        <ul>
                    <li>Sites Amis</li>
                    <li>Nous rejoindre</li>
                </ul>
        </div>
     </div>
            <div class="copyright">
            <p>
                &copy;BIBLIO - {{"now" | date("Y") }} all right reserved for all countries including Groland
            </p>

          
        </div>