{% extends 'base.html.twig' %}

{% block title %}Editer un état{% endblock %}

{% block body %}
    <h1>Editer un etat</h1>
    <br></br>

    {{ include('etat/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <br></br>
    <a href="{{ path('etat_index') }}" class="btn btn-secondary btn-lg">Retour à la liste</a>

    <br></br>

    {{ include('etat/_delete_form.html.twig') }}
{% endblock %}
