{% extends 'base.html.twig' %}

{% block title %}Etats{% endblock %}

{% block body %}
    <h1>Liste de états</h1>
    <br></br>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
               
            </tr>
        </thead>
        <tbody>
        {% for etat in etats %}
            <tr>
                <td>{{ etat.id }}</td>
                <td>{{ etat.libelle }}</td>
               
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
