{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    <h1>Créer un nouvel utilisateur</h1>
    <br></br>

    {{ include('user/_form.html.twig') }}

    <br></br>

    <a href="{{ path('user') }}" class="btn btn-secondary btn-lg">Retour à la liste</a>
{% endblock %}
